<mat-toolbar class="header" @fadeIn>
  <div class="header-left">
    <a routerLink="/" class="logo">
      <img src="/assets/images/logo.png" alt="logo" />
    </a>
    <button
      mat-icon-button
      class="mobile-menu"
      (click)="toggleMenu()"
      #mobileMenuButton
    >
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <nav class="desktop-nav">
    <a mat-button routerLink="/">الرئيسية</a>
    <a mat-button routerLink="/products">المتجر</a>
    <a mat-button routerLink="/media">ميديا</a>
    <a mat-button routerLink="/services">الخدمات</a>
    <a mat-button routerLink="/investments">الاستثمارات</a>
    <a mat-button routerLink="/real-estates">العقارات</a>
    <a mat-button routerLink="/cars">السيارات</a>
    <a mat-button routerLink="/blogs">المحتوى</a>
    <a mat-button routerLink="/about-us">من نحن</a>
    <a mat-button routerLink="/contact-us">اتصل بنا</a>
    <button
      mat-icon-button
      routerLink="/cart"
      [matBadge]="cartItemCount"
      matBadgeColor="accent"
      matBadgePosition="above before"
      [@bounce]="cartItemCount"
      class="desktop-cart"
    >
      <mat-icon matBadgeColor="accent">shopping_bag</mat-icon>
    </button>
    <button class="desktop-cart" mat-icon-button (click)="onWishlistClick()">
      <mat-icon matBadgeColor="accent">favorite</mat-icon>
    </button>
  </nav>

  <div class="desktop-user-actions user-actions">
    <ng-container *ngIf="authService.isLoggedIn$ | async; else guestActions">
      <button
        mat-button
        [matMenuTriggerFor]="userMenu"
        class="user-menu-trigger"
      >
        <div class="user-info">
          <mat-icon>account_circle</mat-icon>
          <span>{{ (authService.currentUser$ | async)?.firstName }}</span>
        </div>
      </button>

      <mat-menu #userMenu="matMenu" class="user-menu" xPosition="after">
        <button mat-menu-item routerLink="/profile">
          <mat-icon>person</mat-icon>
          <span>الملف الشخصي</span>
        </button>
        <mat-divider></mat-divider>
        <button
          mat-menu-item
          *ngIf="
            (authService.isAdmin$ | async) ||
            (authService.isSuperAdmin$ | async)
          "
          routerLink="/admin/dashboard"
        >
          <mat-icon>admin_panel_settings</mat-icon>
          <span>لوحة التحكم</span>
        </button>
        <button
          mat-menu-item
          *ngIf="authService.isPartner$ | async"
          routerLink="/admin/dashboard/products"
        >
          <mat-icon>admin_panel_settings</mat-icon>
          <span>لوحة التحكم</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="logout()">
          <mat-icon class="logout">logout</mat-icon>
          <span>تسجيل الخروج</span>
        </button>
      </mat-menu>
    </ng-container>

    <ng-template #guestActions>
      <a mat-button routerLink="/login">تسجيل الدخول</a>
      <a mat-button routerLink="/register">إنشاء حساب</a>
    </ng-template>
  </div>

  <div class="mobile-nav" *ngIf="isMenuOpen" #mobileNav>
    <nav>
      <a mat-button routerLink="/" (click)="toggleMenu()">الرئيسية</a>
      <a mat-button routerLink="/products" (click)="toggleMenu()">المتجر</a>
      <a mat-button routerLink="/media" (click)="toggleMenu()">ميديا</a>
      <a mat-button routerLink="/services" (click)="toggleMenu()">الخدمات</a>
      <a mat-button routerLink="/investments" (click)="toggleMenu()"
        >الاستثمارات</a
      >
      <a mat-button routerLink="/real-estates" (click)="toggleMenu()"
        >العقارات</a
      >
      <a mat-button routerLink="/cars" (click)="toggleMenu()">السيارات</a>
      <a mat-button routerLink="/blogs" (click)="toggleMenu()">المحتوى</a>
      <a mat-button routerLink="/about-us" (click)="toggleMenu()">من نحن</a>
      <a mat-button routerLink="/contact-us" (click)="toggleMenu()">اتصل بنا</a>
      <a
        mat-icon-button
        routerLink="/cart"
        [@bounce]="cartItemCount"
        [matBadge]="cartItemCount"
        matBadgeColor="accent"
        (click)="toggleMenu()"
      >
        <mat-icon matBadgeColor="accent">shopping_bag</mat-icon>
      </a>
      <a (click)="onWishlistClick(); toggleMenu()" mat-icon-button>
        <mat-icon matBadgeColor="accent">favorite</mat-icon>
      </a>
      <div class="user-actions">
        <ng-container *ngIf="authService.isLoggedIn$ | async; else mobileGuest">
          <a mat-button routerLink="/profile" (click)="toggleMenu()">
            <mat-icon>person</mat-icon>
            {{ (authService.currentUser$ | async)?.firstName }}
          </a>
          <a
            mat-button
            *ngIf="
              (authService.isAdmin$ | async) ||
              (authService.isSuperAdmin$ | async)
            "
            routerLink="/admin/dashboard"
            (click)="toggleMenu()"
          >
            <mat-icon>admin_panel_settings</mat-icon>
            لوحة التحكم
          </a>
          <a
            mat-button
            *ngIf="authService.isPartner$ | async"
            routerLink="/admin/dashboard/products"
            (click)="toggleMenu()"
          >
            <mat-icon>admin_panel_settings</mat-icon>
            لوحة التحكم
          </a>
          <a mat-button (click)="logout(); toggleMenu()">
            <mat-icon class="logout">logout</mat-icon> تسجيل الخروج
          </a>
        </ng-container>

        <ng-template #mobileGuest>
          <a mat-button routerLink="/login" (click)="toggleMenu()"
            >تسجيل الدخول</a
          >
          <a mat-button routerLink="/register" (click)="toggleMenu()"
            >إنشاء حساب</a
          >
        </ng-template>
      </div>
    </nav>
  </div>
</mat-toolbar>
