<mat-toolbar class="header" @fadeIn>
  <div class="header-left">
    <a routerLink="/" class="logo">
      <img src="/assets/images/aqrablogo.png" alt="logo" />
    </a>
    <button
      mat-icon-button
      class="mobile-menu"
      (click)="toggleMenu()"
      #mobileMenuButton
    >
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <nav class="desktop-nav">
    <a mat-button routerLink="/">الرئيسية</a>
    <a mat-button routerLink="/products">المنتجات</a>
    <a mat-button routerLink="/blogs">المنشورات</a>
    <a mat-button routerLink="/about-us">من نحن</a>
    <a mat-button routerLink="/contact-us">اتصل بنا</a>
    <button
      mat-icon-button
      routerLink="/cart"
      [matBadge]="cartItemCount"
      matBadgeColor="accent"
      matBadgePosition="above before"
      [@bounce]="cartItemCount"
      class="desktop-cart"
    >
      <mat-icon matBadgeColor="accent">shopping_bag</mat-icon>
    </button>
    <button class="desktop-cart" mat-icon-button (click)="onWishlistClick()">
      <mat-icon matBadgeColor="accent">favorite</mat-icon>
    </button>
  </nav>

  <div class="desktop-user-actions user-actions">
    <ng-container *ngIf="authService.isLoggedIn$ | async; else guestActions">
      <button mat-button routerLink="/profile">
        <mat-icon>person</mat-icon>
        {{ (authService.currentUser$ | async)?.firstName }}
      </button>
      <button mat-button (click)="logout()">
        <mat-icon class="logout">logout</mat-icon>
        تسجيل الخروج
      </button>
    </ng-container>

    <ng-template #guestActions>
      <a mat-button routerLink="/login">تسجيل الدخول</a>
      <a mat-button routerLink="/register">إنشاء حساب</a>
    </ng-template>
  </div>
</mat-toolbar>

<div class="mobile-nav" *ngIf="isMenuOpen" #mobileNav>
  <nav>
    <a mat-button routerLink="/" (click)="toggleMenu()">الرئيسية</a>
    <a mat-button routerLink="/products" (click)="toggleMenu()">المنتجات</a>
    <a mat-button routerLink="/blogs" (click)="toggleMenu()">المنشورات</a>
    <a mat-button routerLink="/about-us" (click)="toggleMenu()">من نحن</a>
    <a mat-button routerLink="/contact-us" (click)="toggleMenu()">اتصل بنا</a>
    <a
      mat-icon-button
      routerLink="/cart"
      [@bounce]="cartItemCount"
      [matBadge]="cartItemCount"
      matBadgeColor="accent"
      (click)="toggleMenu()"
    >
      <mat-icon matBadgeColor="accent">shopping_bag</mat-icon>
    </a>
    <a (click)="onWishlistClick(); toggleMenu()" mat-icon-button>
      <mat-icon matBadgeColor="accent">favorite</mat-icon>
    </a>
    <div class="user-actions">
      <ng-container *ngIf="authService.isLoggedIn$ | async; else mobileGuest">
        <a mat-button routerLink="/profile" (click)="toggleMenu()">
          <mat-icon>person</mat-icon>
          {{ (authService.currentUser$ | async)?.firstName }}
        </a>
        <a mat-button (click)="logout(); toggleMenu()">
          <mat-icon class="logout">logout</mat-icon> تسجيل الخروج
        </a>
      </ng-container>

      <ng-template #mobileGuest>
        <a mat-button routerLink="/login" (click)="toggleMenu()"
          >تسجيل الدخول</a
        >
        <a mat-button routerLink="/register" (click)="toggleMenu()"
          >إنشاء حساب</a
        >
      </ng-template>
    </div>
  </nav>
</div>
