.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/assets/images/hero-bg.png");
  background-size: cover;
  background-position: center;
  color: white;
  padding: 4rem 2rem;
  text-align: center;

  h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
}

.section-title {
  text-align: center;
  margin-top: 2rem;
  font-size: 2rem;
  color: #333;
  position: relative;
  &:after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    background: #000;
    margin: 0.5rem auto 0;
  }
}

.values-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 2rem;
  margin-top: 2rem;

  .value-card {
    text-align: center;
    padding: 2rem;
    border-radius: 8px;
    background: #f8f9fa;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    }

    &:hover mat-icon {
      color: #000;
      transform: scale(1.1);
    }

    mat-icon {
      font-size: 3rem;
      width: auto;
      height: auto;
      color: #5b5959;
      transition: color 0.3s, transform 0.3s;
    }
  }
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 2rem;
  direction: rtl;

  .member-card {
    text-align: center;

    mat-icon {
      width: 3rem;
      height: 3rem;
      font-size: 3rem;
    }
  }
}

.timeline-items {
  border-right: 3px solid #222;
  margin-right: 20px;
  padding-right: 30px;

  .timeline-item {
    margin: 2rem 0;
    position: relative;
    padding-right: 30px;

    &::after {
      content: "";
      position: absolute;
      right: -10px;
      top: 0;
      width: 20px;
      height: 20px;
      background: #000;
      border-radius: 50%;
    }

    .year {
      font-weight: bold;
      color: #000;
    }
  }
}

.company-profile {
  text-align: center;
  margin: 4rem 0;

  .download-btn {
    display: inline-block;
    margin-top: 1.5rem;
    padding: 1rem 2rem;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 8px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #444;
    }
  }
}
