<!-- not-found.component.html -->
<div class="not-found-container">
  <div class="content-wrapper">
    <!-- <div class="notfound-404">
      <h1><span>4</span><span>0</span><span>4</span></h1>
    </div> -->
    <div class="icon-placeholder">
      <i class="fas fa-face-sad-tear not-found-icon"></i>
      <!-- Animated Tears -->
      <div class="tear"></div>
      <div class="tear second-tear"></div>
    </div>

    <h1 class="title">الصفحة غير موجودة</h1>
    <p class="subtitle">
      عذرًا، لا يمكننا العثور على ما تبحث عنه.<br />
      ربما تم حذفه أو تغيير اسمه.
    </p>

    <button mat-raised-button color="primary" routerLink="/">
      العودة إلى الصفحة الرئيسية
    </button>
  </div>
</div>
