<div class="main-container">
  <div class="blogs-page">
    <!-- Blogs Grid -->
    <main class="blogs-grid">
      <div *ngIf="loading" class="loading-overlay">
        <mat-spinner diameter="50"></mat-spinner>
      </div>

      <ng-container *ngIf="!loading">
        <div *ngFor="let blog of blogs" @fadeIn class="blog-card">
          <mat-card>
            <div class="media" *ngIf="blog.imageUrl || blog.videoUrl">
              <img
                *ngIf="blog.imageUrl"
                [src]="blog.imageUrl"
                [alt]="blog.title"
                class="blog-image"
              />
              <video *ngIf="blog.videoUrl" class="blog-video" controls>
                <source [src]="blog.videoUrl" />
                متصفحك لا يدعم تشغيل الفيديو.
              </video>
            </div>
            <mat-card-header>
              <mat-card-title>{{ blog.title | slice : 0 : 10 }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="meta-info">
                <span class="date">{{
                  blog.publishDate | date : "dd/MM/yyyy"
                }}</span>
                <span class="read-time">{{ blog.readTime }} دقيقة قراءة</span>
              </div>
              <p class="excerpt">{{ blog.content | slice : 0 : 30 }}...</p>
            </mat-card-content>
            <mat-card-actions>
              <button
                mat-raised-button
                color="primary"
                [routerLink]="['/blogs', blog.id]"
              >
                اقرأ المزيد
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
      </ng-container>
    </main>
  </div>
</div>
