<div *ngIf="isLoading" class="loading-overlay">
  <mat-spinner diameter="60"></mat-spinner>
</div>
<div class="checkout-container" *ngIf="!isLoading">
  <h1 class="form-title">إتمام الطلب</h1>

  <form
    [formGroup]="checkoutForm"
    (ngSubmit)="placeOrder()"
    class="checkout-form"
  >
    <!-- Phone Number -->
    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>رقم الهاتف</mat-label>
        <input matInput formControlName="phoneNumber" required appTrimInput />
        <mat-error
          *ngIf="checkoutForm.get('phoneNumber')?.hasError('required')"
        >
          هذا الحقل مطلوب
        </mat-error>
        <mat-error *ngIf="checkoutForm.get('phoneNumber')?.hasError('pattern')">
          رقم هاتف غير صحيح. مثال: 01012345678 أو +201012345678
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>المحافظة</mat-label>
        <mat-select
          formControlName="governorateId"
          (selectionChange)="onGovernorateChange($event.value)"
          required
        >
          <mat-option *ngFor="let gov of governorates" [value]="gov.id">
            {{ gov.name }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="checkoutForm.get('governorateId')?.hasError('required')"
        >
          هذا الحقل مطلوب
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>المدينة</mat-label>
        <mat-select formControlName="cityId" required>
          <mat-option *ngFor="let city of cities" [value]="city.id">
            {{ city.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="checkoutForm.get('cityId')?.hasError('required')">
          هذا الحقل مطلوب
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>المنطقة/الشارع</mat-label>
        <input matInput formControlName="region" required appTrimInput />
        <mat-error *ngIf="checkoutForm.get('region')?.hasError('required')">
          هذا الحقل مطلوب
        </mat-error>
      </mat-form-field>
    </div>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="checkoutForm.invalid"
    >
      تأكيد الطلب
    </button>
  </form>
</div>
