<footer class="footer">
  <div class="footer-content">
    <!-- Quick Links Section -->
    <div class="footer-section">
      <h4>روابط سريعة</h4>
      <ul>
        <li><a routerLink="/about-us">عن المتجر</a></li>
        <li><a routerLink="/privacy">سياسة الخصوصية</a></li>
        <li><a routerLink="/terms">الشروط والأحكام</a></li>
        <li><a routerLink="/faq">الأسئلة الشائعة</a></li>
      </ul>
    </div>

    <!-- Contact Information -->
    <div class="footer-section">
      <h4>اتصل بنا</h4>
      <ul>
        <li>
          <mat-icon>location_on</mat-icon>
          مدينة دكرنس، محافظة الدقهلية
        </li>
        <li>
          <mat-icon>phone</mat-icon>
          01026434550
        </li>
        <li>
          <mat-icon>phone</mat-icon>
          01014700317
        </li>
        <li>
          <mat-icon>email</mat-icon>
          aqrablaak&#64;gmail.com
        </li>
      </ul>
    </div>

    <!-- Social Media -->
    <div class="footer-section">
      <h4>تابعنا</h4>
      <div class="social-icons">
        <a href="https://x.com/aqrablaak" class="social-link" target="_blank">
          <i class="fab fa-x-twitter"></i>
        </a>
        <a
          href="https://www.instagram.com/aqrablaak/"
          class="social-link"
          target="_blank"
        >
          <i class="fab fa-instagram"></i>
        </a>
        <a
          href="https://www.facebook.com/profile.php?id=61574799103586"
          class="social-link"
          target="_blank"
        >
          <i class="fab fa-facebook"></i>
        </a>
        <a
          href="https://www.linkedin.com/company/aqrablaak/"
          class="social-link"
          target="_blank"
        >
          <i class="fab fa-linkedin"></i>
        </a>
        <a
          href="https://www.tiktok.com/@aqrablaak"
          class="social-link"
          target="_blank"
        >
          <i class="fab fa-tiktok"></i>
        </a>
      </div>

      <!-- Newsletter Subscription -->
      <div class="newsletter">
        <h4>النشرة الإخبارية</h4>
        <div class="newsletter-form">
          <input
            type="email"
            placeholder="ادخل بريدك الإلكتروني"
            [(ngModel)]="email"
          />
          <button
            (click)="newsLetterSubscribe(email)"
            mat-raised-button
            color="primary"
          >
            اشتراك
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Copyright Notice -->
  <div class="copyright">
    <p>جميع الحقوق محفوظة © {{ currentYear }} أقربلك - AQRAB</p>
  </div>
</footer>
