.dashboard-container {
  padding: 1rem;
}
.responsive-table {
  list-style: none;
  margin: 0;
  padding: 1rem;

  .list-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding: 1rem 0;
    gap: 2rem;

    .order-info {
      display: flex;
      flex-direction: column;
      min-width: 200px;
    }

    .status {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      margin-top: 0.5rem;
      font-size: 1.2rem;

      mat-icon {
        width: auto;
        height: auto;
      }
    }
  }
}
@media (max-width: 768px) {
  .responsive-table {
    .list-item {
      flex-direction: column !important;
      align-items: flex-start;
      gap: 0.5rem;
    }
    .order-number {
      font-size: 0.8rem !important;
    }
  }
}
