<section class="dashboard-container">
  <mat-card class="section-card">
    <ul class="responsive-table">
      <li *ngFor="let order of orders" class="list-item">
        <div class="order-info">
          <span class="name">رقم الطلب: {{ order.id }}</span>
          <span class="date"
            >تاريخ الطلب: {{ order.orderDate | date : "short" }}</span
          >
          <span class="status"
            >حالة الطلب:
            <mat-icon [ngStyle]="{ color: getStatusColor(order.status) }">
              {{ getStatusIcon(order.status) }}
            </mat-icon>
            <span>{{ translateOrderStatus(order.status) }}</span></span
          >
        </div>
        <span class="amount"
          >تكلفة الطلب: {{ order.totalAmount | currency : "EGP " }}</span
        >
      </li>
    </ul>
  </mat-card>
</section>
