<div class="profile-container">
  <mat-card *ngIf="!loading && !error && !updateMode && !changePasswordMode">
    <mat-card-header>
      <mat-card-title>الملف الشخصي</mat-card-title>
      <button
        mat-icon-button
        [matMenuTriggerFor]="settingsMenu"
        aria-label="إعدادات الملف الشخصي"
      >
        <mat-icon>settings</mat-icon>
      </button>
      <mat-menu #settingsMenu="matMenu">
        <button mat-menu-item (click)="initializeUpdateForm()">
          <mat-icon>edit</mat-icon>
          <span>تحديث الملف</span>
        </button>
        <button mat-menu-item (click)="initializePasswordForm()">
          <mat-icon>vpn_key</mat-icon>
          <span>تغيير كلمة السر</span>
        </button>
        <button
          mat-menu-item
          [disabled]="authService.isSuperAdmin$ | async"
          (click)="openDeleteDialog()"
        >
          <mat-icon>delete_forever</mat-icon>
          <span>حذف الحساب</span>
        </button>
      </mat-menu>
    </mat-card-header>

    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <span class="title">الاسم: </span>
          <span class="value"
            >{{ userProfile.firstName }} {{ userProfile.lastName }}</span
          >
        </mat-list-item>

        <mat-list-item>
          <span class="title">النوع: </span>
          <span class="value">{{ translateGender(userProfile.gender) }}</span>
        </mat-list-item>

        <mat-list-item>
          <span class="title">البريد الإلكتروني: </span>
          <span class="value">{{ userProfile.email }}</span>
        </mat-list-item>
      </mat-list>

      <!-- <mat-divider></mat-divider>
      <mat-list>
        <mat-list-item>
          <span class="title">الحالة الاجتماعية: </span>
          <span class="value">{{
            translateMaritalStatus(userProfile.maritalStatus)
          }}</span>
        </mat-list-item>

        <mat-list-item *ngIf="userProfile.childrenCount > 0">
          <span class="title">عدد الأطفال: </span>
          <span class="value">{{ userProfile.childrenCount }}</span>
        </mat-list-item>
      </mat-list> -->

      <mat-card-actions>
        <button
          mat-raised-button
          color="primary"
          [routerLink]="['/order-history']"
        >
          عرض تاريخ الطلبات
        </button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>

  <ng-template #deleteDialog>
    <div class="delete-dialog-container">
      <h2 mat-dialog-title class="delete-dialog-title">تأكيد حذف الحساب</h2>

      <mat-dialog-content class="delete-dialog-content">
        <mat-icon class="delete-warning-icon">warning</mat-icon>

        <p class="delete-confirmation-text">
          هل أنت متأكد من حذف حسابك؟ هذا الإجراء لا رجعة فيه وسيؤدي إلى فقدان
          جميع بياناتك.
        </p>

        <form [formGroup]="deleteForm" class="delete-password-form">
          <mat-form-field appearance="outline" class="password-field">
            <mat-label>كلمة المرور</mat-label>
            <input
              matInput
              [type]="hideDeletePassword ? 'password' : 'text'"
              formControlName="password"
              required
            />
            <mat-icon
              matSuffix
              (click)="toggleDeletePasswordVisibility()"
              class="password-toggle"
            >
              {{ hideDeletePassword ? "visibility" : "visibility_off" }}
            </mat-icon>
            <mat-error *ngIf="deleteForm.get('password')?.hasError('required')">
              كلمة المرور مطلوبة
            </mat-error>
          </mat-form-field>
        </form>
      </mat-dialog-content>

      <mat-dialog-actions class="delete-dialog-actions">
        <button mat-button class="cancel-button" (click)="closeDeleteDialog()">
          إلغاء
        </button>
        <button
          mat-raised-button
          color="warn"
          class="confirm-button"
          [disabled]="deleteForm.invalid"
          (click)="confirmDelete()"
        >
          تأكيد الحذف
        </button>
      </mat-dialog-actions>
    </div>
  </ng-template>

  <mat-card *ngIf="!loading && !error && updateMode && !changePasswordMode">
    <mat-card-header>
      <mat-card-title>تعديل الملف الشخصي</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="updateProfileForm" class="update-profile-form">
        <mat-form-field appearance="outline">
          <mat-label>الاسم الأول</mat-label>
          <input matInput formControlName="firstName" required appTrimInput />
          <mat-error
            *ngIf="updateProfileForm.get('firstName')?.hasError('required')"
          >
            هذا الحقل مطلوب
          </mat-error>
          <mat-error
            *ngIf="updateProfileForm.get('firstName')?.hasError('minlength')"
          >
            لا يمكن أن يقل الاسم الأول عن 3 أحرف
          </mat-error>
          <mat-error
            *ngIf="updateProfileForm.get('firstName')?.hasError('maxlength')"
          >
            لا يمكن أن يزيد الاسم الأول عن 50 حرف
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>الاسم الأخير</mat-label>
          <input matInput formControlName="lastName" required appTrimInput />
          <mat-error
            *ngIf="updateProfileForm.get('lastName')?.hasError('required')"
          >
            هذا الحقل مطلوب
          </mat-error>
          <mat-error
            *ngIf="updateProfileForm.get('lastName')?.hasError('minlength')"
          >
            لا يمكن أن يقل الاسم الأخير عن 3 أحرف
          </mat-error>
          <mat-error
            *ngIf="updateProfileForm.get('lastName')?.hasError('maxlength')"
          >
            لا يمكن أن يزيد الاسم الأخير عن 50 حرف
          </mat-error>
        </mat-form-field>

        <!-- <mat-form-field appearance="outline">
          <mat-label>الحالة الاجتماعية</mat-label>
          <mat-select formControlName="maritalStatus">
            <mat-option *ngFor="let status of maritalStatuses" [value]="status">
              {{ status }}
            </mat-option>
            <mat-error
              *ngIf="
                updateProfileForm.get('maritalStatus')?.hasError('required')
              "
            >
              هذا الحقل مطلوب
            </mat-error>
          </mat-select>
        </mat-form-field>

        <div
          class="children-section"
          *ngIf="updateProfileForm.get('maritalStatus')?.value !== 'أعزب'"
        >
          <mat-checkbox formControlName="hasChildren"
            >هل لديك أطفال؟</mat-checkbox
          >

          <mat-form-field
            *ngIf="updateProfileForm.get('hasChildren')?.value"
            appearance="outline"
          >
            <mat-label>عدد الأطفال</mat-label>
            <input
              matInput
              type="number"
              formControlName="childrenCount"
              min="1"
            />
            <mat-error
              *ngIf="updateProfileForm.get('childrenCount')?.hasError('min')"
            >
              يجب أن يكون العدد 1 على الأقل
            </mat-error>
          </mat-form-field>
        </div> -->

        <mat-card-actions>
          <button
            mat-raised-button
            color="primary"
            (click)="onUpdateProfile()"
            [disabled]="!updateProfileForm.valid"
          >
            حفظ التغييرات
          </button>
          <button mat-raised-button color="accent" (click)="onCancel()">
            إلغاء
          </button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>

  <mat-card *ngIf="!loading && !error && !updateMode && changePasswordMode">
    <mat-card-header>
      <mat-card-title>تغيير كلمة المرور</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="changePasswordForm" class="update-profile-form">
        <mat-form-field appearance="outline">
          <mat-label>كلمة المرور القديمة</mat-label>
          <input
            matInput
            [type]="hideOldPassword ? 'password' : 'text'"
            formControlName="currentPassword"
            required
            appTrimInput
          />
          <mat-icon matSuffix (click)="toggleOldPasswordVisibility()">
            {{ hideOldPassword ? "visibility" : "visibility_off" }}
          </mat-icon>
          <mat-error
            *ngIf="
              changePasswordForm.get('currentPassword')?.hasError('required')
            "
          >
            هذا الحقل مطلوب
          </mat-error>
          <mat-error
            *ngIf="
              changePasswordForm.get('currentPassword')?.hasError('minlength')
            "
          >
            يجب أن تكون كلمة المرور 8 أحرف على الأقل
          </mat-error>
          <mat-error
            *ngIf="
              changePasswordForm.get('currentPassword')?.hasError('pattern')
            "
          >
            كلمة المرور يجب أن تتكون من 8 أحرف على الأقل وتحتوي على حرف صغير،
            حرف كبير، رقم، ورمز خاص.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>كلمة المرور الجديدة</mat-label>
          <input
            matInput
            [type]="hideNewPassword ? 'password' : 'text'"
            formControlName="newPassword"
            required
            appTrimInput
          />
          <mat-icon matSuffix (click)="toggleNewPasswordVisibility()">
            {{ hideNewPassword ? "visibility" : "visibility_off" }}
          </mat-icon>
          <mat-error
            *ngIf="changePasswordForm.get('newPassword')?.hasError('required')"
          >
            هذا الحقل مطلوب
          </mat-error>
          <mat-error
            *ngIf="changePasswordForm.get('newPassword')?.hasError('minlength')"
          >
            يجب أن تكون كلمة المرور 8 أحرف على الأقل
          </mat-error>
          <mat-error
            *ngIf="changePasswordForm.get('newPassword')?.hasError('pattern')"
          >
            كلمة المرور يجب أن تتكون من 8 أحرف على الأقل وتحتوي على حرف صغير،
            حرف كبير، رقم، ورمز خاص.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>تأكيد كلمة المرور</mat-label>
          <input
            matInput
            [type]="hideConfirmNewPassword ? 'password' : 'text'"
            formControlName="confirmNewPassword"
            required
            appTrimInput
          />
          <mat-icon matSuffix (click)="toggleConfirmNewPasswordVisibility()">
            {{ hideConfirmNewPassword ? "visibility" : "visibility_off" }}
          </mat-icon>
          <mat-error
            *ngIf="
              changePasswordForm.get('confirmNewPassword')?.hasError('required')
            "
          >
            هذا الحقل مطلوب
          </mat-error>
          <mat-error
            *ngIf="
              changePasswordForm
                .get('confirmNewPassword')
                ?.hasError('passwordMismatch')
            "
          >
            كلمات المرور غير متطابقة
          </mat-error>
        </mat-form-field>
        <mat-card-actions>
          <button
            mat-raised-button
            color="primary"
            (click)="onChangePassword()"
            [disabled]="!changePasswordForm.valid"
          >
            حفظ التغييرات
          </button>
          <button mat-raised-button color="accent" (click)="onCancel()">
            إلغاء
          </button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>

  <div *ngIf="loading" class="loading-overlay">
    <mat-spinner diameter="50"></mat-spinner>
    <p>جاري تحميل البيانات...</p>
  </div>

  <div *ngIf="error" class="error-message">
    <mat-icon>error</mat-icon>
    {{ error }}
    <button mat-raised-button color="primary" (click)="ngOnInit()">
      إعادة المحاولة
    </button>
  </div>
</div>
