<!-- reset-password-request.component.html -->
<div class="container" dir="rtl">
  <h1>إعادة تعيين كلمة المرور</h1>

  <form [formGroup]="resetPasswordRequestForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>البريد الإلكتروني</mat-label>
      <input
        matInput
        formControlName="email"
        type="email"
        required
        appTrimInput
      />
      <mat-error
        *ngIf="resetPasswordRequestForm.get('email')?.hasError('required')"
      >
        هذا الحقل مطلوب
      </mat-error>
      <mat-error
        *ngIf="resetPasswordRequestForm.get('email')?.hasError('email')"
      >
        بريد إلكتروني غير صالح
      </mat-error>
    </mat-form-field>
    <a
      mat-raised-button
      color="primary"
      [disabled]="!resetPasswordRequestForm.get('email')?.valid"
      *ngIf="!tokenSent"
      (click)="onSendToken()"
    >
      <mat-spinner *ngIf="isLoading" diameter="20"></mat-spinner>
      <span *ngIf="!isLoading">إرسال رمز التحقق</span>
    </a>
    <mat-form-field appearance="outline" *ngIf="tokenSent">
      <mat-label>أدخل رمز التحقق</mat-label>
      <input
        matInput
        formControlName="token"
        type="text"
        required
        appTrimInput
      />
      <mat-error
        *ngIf="resetPasswordRequestForm.get('token')?.hasError('required')"
      >
        هذا الحقل مطلوب
      </mat-error>
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      [disabled]="resetPasswordRequestForm.invalid || isLoading"
      *ngIf="tokenSent"
      type="submit"
    >
      <mat-spinner *ngIf="isLoading" diameter="20"></mat-spinner>
      <span *ngIf="!isLoading">التحقق من الرمز</span>
    </button>
  </form>
</div>
