<!-- main-view.component.html -->
<section class="dashboard-container">
  <!-- Metrics Cards -->
  <div class="metrics-grid">
    <mat-card class="metric-card">
      <mat-icon>people</mat-icon>
      <h3>المستخدمون</h3>
      <p class="count">{{ usersCount }}</p>
      <button mat-button routerLink="/admin/dashboard/users">عرض الكل</button>
    </mat-card>

    <mat-card class="metric-card">
      <mat-icon>inventory_2</mat-icon>
      <h3>المنتجات</h3>
      <p class="count">{{ productsCount }}</p>
      <button mat-button routerLink="/admin/dashboard/products">
        عرض الكل
      </button>
    </mat-card>

    <mat-card class="metric-card">
      <mat-icon>local_shipping</mat-icon>
      <h3>الطلبات قيد التنفيذ</h3>
      <p class="count">{{ inProgressOrdersCount }}</p>
      <button mat-button routerLink="/admin/dashboard/orders">عرض الكل</button>
    </mat-card>

    <mat-card class="metric-card">
      <mat-icon>local_shipping</mat-icon>
      <h3>الطلبات</h3>
      <p class="count">{{ ordersCount }}</p>
      <button mat-button routerLink="/admin/dashboard/orders">عرض الكل</button>
    </mat-card>
  </div>

  <!-- Recent Users Section -->
  <mat-card class="section-card">
    <mat-card-header>
      <mat-card-title>أحدث المستخدمين</mat-card-title>
      <button mat-button routerLink="/admin/dashboard/users">عرض الكل</button>
    </mat-card-header>

    <table class="users-table">
      <thead>
        <tr>
          <th>الاسم الكامل</th>
          <th>البريد الإلكتروني</th>
          <th>الصلاحية</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of recentUsers">
          <td>{{ user.firstName }} {{ user.lastName }}</td>
          <td>{{ user.email }}</td>
          <td>{{ translateRole(user.role) }}</td>
        </tr>
      </tbody>
    </table>

    <div *ngFor="let user of recentUsers" class="user-card">
      <div class="card-item">
        <span class="card-label">الاسم:</span>
        <span class="card-value">{{ user.firstName }} {{ user.lastName }}</span>
      </div>
      <div class="card-item">
        <span class="card-label">البريد الإلكتروني:</span>
        <span class="card-value">{{ user.email }}</span>
      </div>
      <div class="card-item">
        <span class="card-label">الصلاحية:</span>
        <span class="card-value">{{ translateRole(user.role) }}</span>
      </div>
    </div>
  </mat-card>

  <!-- Recent Products Section -->
  <mat-card class="section-card">
    <mat-card-header>
      <mat-card-title>أحدث المنتجات</mat-card-title>
      <button mat-button routerLink="/admin/dashboard/products">
        عرض الكل
      </button>
    </mat-card-header>

    <div class="products-grid">
      <mat-card
        *ngFor="let product of recentProducts"
        class="product-card"
        [routerLink]="['/store', product.id]"
      >
        <div class="image">
          <img [src]="product.mainImageUrl" alt="{{ product.name }}" />
        </div>
        <mat-card-content>
          <h4>{{ product.name }}</h4>
          <p>{{ product.price | currency : "EGP " }}</p>
          <p class="sales-count">تم بيع {{ product.salesCount }} وحدة</p>
          <p>المخزون: {{ product.stock }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-card>

  <!-- Recent Orders Section -->
  <mat-card class="section-card orders-history-items">
    <mat-card-header>
      <mat-card-title>أحدث الطلبات</mat-card-title>
      <button mat-button routerLink="/admin/dashboard/orders">عرض الكل</button>
    </mat-card-header>

    <mat-card *ngFor="let order of recentOrders" class="orders-history-item">
      <div class="order-content">
        <div class="order-info">
          <h3 class="order-id">
            رقم الطلب: <span>{{ order.id }}</span>
          </h3>

          <p class="order-price">
            السعر الكلي: {{ order.totalAmount | currency : "EGP " }}
          </p>
          <p class="order-date">
            <mat-icon>schedule</mat-icon>
            تم الطلب في {{ order.orderDate | date : "mediumDate" }}
          </p>
          <span class="order-status">
            حالة الطلب:
            <mat-icon [ngStyle]="{ color: getStatusColor(order.status) }">
              {{ getStatusIcon(order.status) }}
            </mat-icon>
            <span>{{ translateOrderStatus(order.status) }}</span>
          </span>
        </div>
        <mat-card-actions>
          <button
            mat-icon-button
            color="primary"
            matTooltip="عرض التفاصيل"
            matTooltipPosition="above"
            matTooltipShowDelay="100"
            [routerLink]="['/orders', order.id]"
          >
            <mat-icon>visibility</mat-icon>
          </button>
        </mat-card-actions>
      </div>
    </mat-card>
  </mat-card>
</section>
