<section class="users-section" *ngIf="!isLoading">
  <table class="users-table">
    <thead>
      <tr>
        <th>الاسم الأول</th>
        <th>الاسم الأخير</th>
        <th>اسم المستخدم</th>
        <th>البريد الإلكتروني</th>
        <th>الصلاحية</th>
        <th>النوع</th>
        <!-- <th>الحالة الاجتماعية</th>
        <th>لديه أطفال</th>
        <th>عدد الأطفال</th> -->
        <th>الإجراءات</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>
          <ng-container
            *ngIf="
              editingUserName !== user.userName || !updateProfileMode;
              else editFirstName
            "
          >
            {{ user.firstName }}
          </ng-container>
          <ng-template #editFirstName>
            <form [formGroup]="updateProfileForm">
              <mat-form-field appearance="outline" class="edit-field">
                <input matInput formControlName="firstName" />
                <mat-error
                  *ngIf="
                    updateProfileForm.get('firstName')?.hasError('required')
                  "
                >
                  الاسم الأول مطلوب
                </mat-error>
                <mat-error
                  *ngIf="
                    updateProfileForm.get('firstName')?.hasError('minlength')
                  "
                >
                  يجب أن يكون الاسم الأول 3 أحرف على الأقل
                </mat-error>
              </mat-form-field>
            </form>
          </ng-template>
        </td>
        <td>
          <ng-container
            *ngIf="
              editingUserName !== user.userName || !updateProfileMode;
              else editLastName
            "
          >
            {{ user.lastName }}
          </ng-container>
          <ng-template #editLastName>
            <form [formGroup]="updateProfileForm">
              <mat-form-field appearance="outline" class="edit-field">
                <input matInput formControlName="lastName" />
                <mat-error
                  *ngIf="
                    updateProfileForm.get('lastName')?.hasError('required')
                  "
                >
                  الاسم الأخير مطلوب
                </mat-error>
                <mat-error
                  *ngIf="
                    updateProfileForm.get('lastName')?.hasError('minlength')
                  "
                >
                  يجب أن يكون الاسم الأخير 3 أحرف على الأقل
                </mat-error>
              </mat-form-field>
            </form>
          </ng-template>
        </td>
        <td>{{ user.userName }}</td>
        <td>{{ user.email }}</td>
        <td>
          <ng-container
            *ngIf="
              editingUserName !== user.userName || !changeRoleMode;
              else editRole
            "
          >
            {{ translateRole(user.role) }}
          </ng-container>
          <ng-template #editRole>
            <mat-select [(ngModel)]="selectedRole" class="role-select">
              <mat-option [value]="1">عميل</mat-option>
              <mat-option *ngIf="authService.isSuperAdmin$ | async" [value]="2">
                مسؤول
              </mat-option>
              <mat-option *ngIf="authService.isSuperAdmin$ | async" [value]="3">
                مسؤول عام
              </mat-option>
              <mat-option [value]="4">شريك نجاح</mat-option>
            </mat-select>
          </ng-template>
        </td>
        <td>{{ user.gender === "Male" ? "ذكر" : "أنثى" }}</td>
        <!-- <td>
          <ng-container
            *ngIf="
              editingUserName !== user.userName || !updateProfileMode;
              else editMaritalStatus
            "
          >
            {{ translateMaritalStatus(user.maritalStatus) }}
          </ng-container>
          <ng-template #editMaritalStatus>
            <form [formGroup]="updateProfileForm" class="marital">
              <mat-form-field appearance="outline" class="edit-field">
                <mat-select formControlName="maritalStatus">
                  <mat-option
                    *ngFor="let status of maritalStatuses"
                    [value]="status"
                  >
                    {{ status }}
                  </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="
                    updateProfileForm.get('maritalStatus')?.hasError('required')
                  "
                >
                  الحالة الاجتماعية مطلوبة
                </mat-error>
              </mat-form-field>
            </form>
          </ng-template>
        </td>
        <td>
          <ng-container
            *ngIf="
              editingUserName !== user.userName || !updateProfileMode;
              else editHasChildren
            "
          >
            {{ user.hasChildren ? "نعم" : "لا" }}
          </ng-container>
          <ng-template #editHasChildren>
            <form [formGroup]="updateProfileForm">
              <mat-checkbox
                formControlName="hasChildren"
                (change)="handleHasChildrenChange($event.checked)"
              >
                لديه أطفال
              </mat-checkbox>
            </form>
          </ng-template>
        </td>
        <td>
          <ng-container
            *ngIf="
              editingUserName !== user.userName || !updateProfileMode;
              else editChildrenCount
            "
          >
            {{ user.childrenCount }}
          </ng-container>
          <ng-template #editChildrenCount>
            <form [formGroup]="updateProfileForm" class="count">
              <mat-form-field appearance="outline" class="edit-field">
                <input
                  matInput
                  type="number"
                  formControlName="childrenCount"
                  min="1"
                />
                <mat-error
                  *ngIf="
                    updateProfileForm.get('childrenCount')?.hasError('required')
                  "
                >
                  عدد الأطفال مطلوب
                </mat-error>
                <mat-error
                  *ngIf="
                    updateProfileForm.get('childrenCount')?.hasError('min')
                  "
                >
                  يجب أن يكون العدد
                  {{
                    updateProfileForm.get("hasChildren")?.value
                      ? "1 على الأقل"
                      : "0 على الأقل"
                  }}
                </mat-error>
              </mat-form-field>
            </form>
          </ng-template>
        </td> -->
        <td>
          <div class="actions" *ngIf="editingUserName !== user.userName">
            <button
              mat-raised-button
              color="primary"
              (click)="startEditProfile(user)"
            >
              تعديل
            </button>
            <button
              mat-raised-button
              color="primary"
              (click)="startEditRole(user)"
              [disabled]="
                (authService.isAdmin$ | async) &&
                (user.role.toLowerCase() === 'admin' ||
                  user.role.toLowerCase() === 'superadmin')
              "
            >
              تغيير الصلاحية
            </button>
            <button
              mat-raised-button
              color="warn"
              (click)="onDeleteAccount(user.userName)"
            >
              حذف
            </button>
          </div>
          <div
            class="role-actions"
            *ngIf="editingUserName === user.userName && changeRoleMode"
          >
            <button
              mat-raised-button
              color="primary"
              (click)="saveRoleChange(user.userName)"
            >
              حفظ التغييرات
            </button>
            <button mat-raised-button color="accent" (click)="resetEditState()">
              إلغاء
            </button>
          </div>
          <div
            class="profile-actions"
            *ngIf="editingUserName === user.userName && updateProfileMode"
          >
            <button
              mat-raised-button
              color="primary"
              (click)="saveProfileChanges(user.userName)"
            >
              حفظ البيانات
            </button>
            <button mat-raised-button color="accent" (click)="resetEditState()">
              إلغاء
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="user-cards">
    <div *ngFor="let user of users" class="user-card">
      <div class="card-item">
        <span class="card-label">الاسم الأول:</span>
        <ng-container
          *ngIf="
            editingUserName !== user.userName || !updateProfileMode;
            else editFirstNameCard
          "
        >
          <span>{{ user.firstName }}</span>
        </ng-container>
        <ng-template #editFirstNameCard>
          <form [formGroup]="updateProfileForm">
            <mat-form-field appearance="outline" class="edit-field">
              <input matInput formControlName="firstName" />
              <mat-error
                *ngIf="updateProfileForm.get('firstName')?.hasError('required')"
              >
                الاسم الأول مطلوب
              </mat-error>
              <mat-error
                *ngIf="
                  updateProfileForm.get('firstName')?.hasError('minlength')
                "
              >
                يجب أن يكون الاسم الأول 3 أحرف على الأقل
              </mat-error>
            </mat-form-field>
          </form>
        </ng-template>
      </div>
      <div class="card-item">
        <span class="card-label">الاسم الأخير:</span>
        <ng-container
          *ngIf="
            editingUserName !== user.userName || !updateProfileMode;
            else editLastNameCard
          "
        >
          <span>{{ user.lastName }}</span>
        </ng-container>
        <ng-template #editLastNameCard>
          <form [formGroup]="updateProfileForm">
            <mat-form-field appearance="outline" class="edit-field">
              <input matInput formControlName="lastName" />
              <mat-error
                *ngIf="updateProfileForm.get('lastName')?.hasError('required')"
              >
                الاسم الأخير مطلوب
              </mat-error>
              <mat-error
                *ngIf="updateProfileForm.get('lastName')?.hasError('minlength')"
              >
                يجب أن يكون الاسم الأخير 3 أحرف على الأقل
              </mat-error>
            </mat-form-field>
          </form>
        </ng-template>
      </div>
      <div class="card-item">
        <span class="card-label">اسم المستخدم:</span
        ><span>{{ user.userName }}</span>
      </div>
      <div class="card-item">
        <span class="card-label">البريد الإلكتروني:</span
        ><span>{{ user.email }}</span>
      </div>
      <div class="card-item">
        <span class="card-label">الصلاحية:</span>
        <ng-container
          *ngIf="
            editingUserName !== user.userName || !changeRoleMode;
            else editRoleCard
          "
        >
          <span>{{ translateRole(user.role) }}</span>
        </ng-container>
        <ng-template #editRoleCard>
          <mat-select [(ngModel)]="selectedRole">
            <mat-option [value]="1">عميل</mat-option>
            <mat-option [value]="2">مسؤول</mat-option>
            <mat-option [value]="3">مسؤول عام</mat-option>
            <mat-option [value]="4">شريك نجاح</mat-option>
          </mat-select>
        </ng-template>
      </div>
      <div class="card-item">
        <span class="card-label">النوع:</span>
        <span>{{ user.gender === "male" ? "أنثى" : "ذكر" }}</span>
      </div>
      <!-- <div class="card-item">
        <span class="card-label">الحالة الاجتماعية:</span>
        <ng-container
          *ngIf="
            editingUserName !== user.userName || !updateProfileMode;
            else editMaritalStatusCard
          "
        >
          <span>{{ translateMaritalStatus(user.maritalStatus) }}</span>
        </ng-container>
        <ng-template #editMaritalStatusCard>
          <form [formGroup]="updateProfileForm">
            <mat-form-field appearance="outline" class="edit-field">
              <mat-select formControlName="maritalStatus">
                <mat-option
                  *ngFor="let status of maritalStatuses"
                  [value]="status"
                >
                  {{ status }}
                </mat-option>
              </mat-select>
              <mat-error
                *ngIf="
                  updateProfileForm.get('maritalStatus')?.hasError('required')
                "
              >
                الحالة الاجتماعية مطلوبة
              </mat-error>
            </mat-form-field>
          </form>
        </ng-template>
      </div>
      <div class="card-item">
        <span class="card-label">لديه أطفال:</span>
        <ng-container
          *ngIf="
            editingUserName !== user.userName || !updateProfileMode;
            else editHasChildrenCard
          "
        >
          <span>{{ user.hasChildren ? "نعم" : "لا" }}</span>
        </ng-container>
        <ng-template #editHasChildrenCard>
          <form [formGroup]="updateProfileForm">
            <mat-checkbox
              formControlName="hasChildren"
              (change)="handleHasChildrenChange($event.checked)"
            >
              لديه أطفال
            </mat-checkbox>
          </form>
        </ng-template>
      </div>
      <div class="card-item">
        <span class="card-label">عدد الأطفال:</span>
        <ng-container
          *ngIf="
            editingUserName !== user.userName || !updateProfileMode;
            else editChildrenCountCard
          "
        >
          <span>{{ user.childrenCount }}</span>
        </ng-container>
        <ng-template #editChildrenCountCard>
          <form [formGroup]="updateProfileForm">
            <mat-form-field appearance="outline" class="edit-field">
              <input
                matInput
                type="number"
                formControlName="childrenCount"
                min="1"
              />
              <mat-error
                *ngIf="
                  updateProfileForm.get('childrenCount')?.hasError('required')
                "
              >
                عدد الأطفال مطلوب
              </mat-error>
              <mat-error
                *ngIf="updateProfileForm.get('childrenCount')?.hasError('min')"
              >
                يجب أن يكون العدد
                {{
                  updateProfileForm.get("hasChildren")?.value
                    ? "1 على الأقل"
                    : "0 على الأقل"
                }}
              </mat-error>
            </mat-form-field>
          </form>
        </ng-template>
      </div> -->
      <div class="card-item">
        <div class="actions" *ngIf="editingUserName !== user.userName">
          <button
            mat-raised-button
            color="primary"
            (click)="startEditProfile(user)"
          >
            تعديل
          </button>
          <button
            mat-raised-button
            color="primary"
            (click)="startEditRole(user)"
          >
            تغيير الصلاحية
          </button>
          <button
            mat-raised-button
            color="warn"
            (click)="onDeleteAccount(user.userName)"
          >
            حذف
          </button>
        </div>
        <div
          class="profile-actions"
          *ngIf="editingUserName === user.userName && updateProfileMode"
        >
          <button
            mat-raised-button
            color="primary"
            (click)="saveProfileChanges(user.userName)"
          >
            حفظ البيانات
          </button>
          <button mat-raised-button color="accent" (click)="resetEditState()">
            إلغاء
          </button>
        </div>
        <div
          class="role-actions"
          *ngIf="editingUserName === user.userName && changeRoleMode"
        >
          <button
            mat-raised-button
            color="primary"
            (click)="saveRoleChange(user.userName)"
          >
            حفظ التغييرات
          </button>
          <button mat-raised-button color="accent" (click)="resetEditState()">
            إلغاء
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<div *ngIf="isLoading" class="loading-overlay">
  <mat-spinner diameter="60"></mat-spinner>
</div>
